@page
@model EmployeeManagement.Pages.Employees.EditModel
@{
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit Employee</h4>
        <hr />
        <form method="post">

            <label for="fname">Name:</label><br>
            <input type="text" id="Name" name="Name" value="@Model.Name"><br>

            <label for="fname">Email:</label><br>
            <input type="email" id="EmailAddress" name="EmailAddress" value="@Model.EmailAddress" /><br>

            <label for="fname">Department:</label><br>
            <input type="text" id="Department" name="Department" value="@Model.Department"/><br>

            <label for="lname">Dob:</label><br>
            <input type="date" id="Dob" name="Dob" value="@Model.Dob"  ><br>
            <br>
            <input type="submit">

        </form>


    </div>
}
